
/Python/pySQLExport/pySQLExport/__pycache__
/Python/pySQLExport/build
/Python/pySQLExport/pySQLExport.egg-info
/Python/pySQLExport/dist
Python/pySQLExport/results.csv
Python/pySQLExport/pySQLExport/foofoo.csv
Python/pySQLExport/pySQLExport/foo.csv
.venv/
.vscode/
WPFApp1

Python/pySQLExport/pyproject.toml
/Powershell/.vs
/Powershell/.vs
Python/pySQLExport/pySQLExport/pyproject.toml
/Powershell/.vs
/Python/simpleGUI
