
/Python/pySQLExport/pySQLExport/__pycache__
/Python/pySQLExport/build
/Python/pySQLExport/pySQLExport.egg-info
/Python/pySQLExport/dist
Python/pySQLExport/results.csv
Python/pySQLExport/pySQLExport/foofoo.csv
Python/pySQLExport/pySQLExport/foo.csv
.venv/
.vscode/
WPFApp1

Python/pySQLExport/pyproject.toml
/Powershell/.vs
/Powershell/.vs
Python/pySQLExport/pySQLExport/pyproject.toml
/Powershell/.vs
/Python/simpleGUI
/Python/pySQLExport-graphical/__pycache__
Python/pySQLExport-graphical/main-window-1.py
Python/pySQLExport-graphical/main-window-1.ui
Public_Code_workplace.code-workspace
linearregression.pickle
Python/AI Agent/.env
/Python/AI Agent/__pycache__
Python/Blackjack/Blackjack.code-workspace
/Python/tk/__pycache__
*.pyc
/Python/flaskapp/__pycache__
/Python/flaskapp/__pycache__
Study/D318/~$mpTIA Cloud+.docx
Python/leetcode/temp
Powershell/Office365/names.csv
Powershell/Office365/names.xlsx
/Go/bin
/Go/pkg
Go/src/src.code-workspace
*.exe
*.sum
*.mod
